# --- IDENTIFICACION Y ENTORNO ---
APP_NAME=gorina-carniceria-tablero
APP_ENV=production
APP_PORT=8765

# --- RUTAS DE DISCO ---
DATA_DIR=D:\GorinaData\P004.Carniceria.Tablero
RETENCION_DIAS_CRUDO=90

# --- CONEXION A BASE DE DATOS (MYSQL) ---
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=P004.Carniceria.Tablero
DB_USER=root
DB_PASS=gorina2025
